html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 85%;
    border-radius: 10px;
}

body {
    background-color: rgb(32, 32, 32);
}

.main-body {
    padding: 10px;
    height: 97%;

    h1 {
        display: flex;
        justify-content: center;
        color: white;
    }
}